{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
  <div class="card w-50 mx-auto">
    <div id="loginBlock" class="card-header">
      <h4 class="card-title" style="margin-left: 25%">Please enter your email</h4>
    </div>
    <div class="card-body">
      <form class="form" role="form" action="{{ url_for('auth.reset_password') }}" method="post">
        <div class="form-group">
          {{form.email.label}}
          {{form.email(class='form-control')}}
          {% for error in form.errors.email %}
          <small class="text-danger">{{error}}</small>
          {% endfor %}
            <br>
            <div style="margin-left: 35%">
                {{form.submit(class='btn btn-primary')}}
            </div>
            <br>
          <p>If you remembered your password, click <a href="{{ url_for('auth.login') }}">Login</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}