{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Here you can change information from plant</h1>
  <hr>
    <form method="post">
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.location.label }}
            {{ form.location(class='form-control') }}
        </div>
        {{ form.submit(class='btn btn-primary') }}
    </form>
</div>
{% endblock %}